<component name="ArtifactManager">
  <artifact type="exploded-war" name="spring-mvc-demo-firstt:war exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/spring_mvc_demo_firstt_war_exploded</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="spring-mvc-demo-firstt/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="spring-mvc-demo-firstt" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="application" name="Spring-5.2.3.RELEASE" />
          <element id="library" level="application" name="Spring MVC-5.2.3.RELEASE" />
          <element id="library" level="project" name="javax.el-3.0.1-b08" />
          <element id="library" level="project" name="validation-api-2.0.0.Final" />
          <element id="library" level="project" name="validation-api-2.0.0.Final1" />
        </element>
      </element>
    </root>
  </artifact>
</component>